<!DOCTYPE html>
<html lang="es">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
   
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />

</head>
<body>
   <section class= "TituloFormulario">
       <h3>Regístrste, para una mejor experiencia</h3>
   </section>
    <form action="/home" method="get">
        <p>Nombre y Apellido: <input type="text" name="nombre" size="40" placeholder="Escriba su nombre y Apellido"></p>
        <p>Nombre de Usuario: <input type="number" name="nacido" min="1900"></p>
        <p>Fecha de Nacimiento: <input type="text" name="nacimiento" size="40"></p>
        <p>Domicilio: <input type="text" name="domicilio" size="40"></p>
        <p>Perfil de usuario:
          <input type="radio" name="hm" value="h"> comprador
          <input type="radio" name="hm" value="m"> vendedor
          <p>Foto de Usuario: <input type="image" name="usuario" size="40"></p>
          <p>Contraseña: <input type="text" name="Contraseña" size="40"></p>
          <p>Confirmar Contraseña <input type="text" name="Contraseña" size="40"></p>
        </p>
        <p>
          <input type="submit" value="Enviar" href= "/home">
          <input type="reset" value="Borrar">
        </p>
      </form>                                                                                                                                                                                                                                               


</body>
</html>